.wrapper {
    padding-top: 20px;
    border: 3px solid #0d0d0e;
    max-width: 516px;
    margin: 0 auto;
}

.userInfo {
background-color: rgb(253, 253, 253);
}

.userFhoto {
border-radius: 50%;
margin: 0 auto;
border: 1px solid #0d0d0e;
background-color: #3b3b39;
margin-bottom: 40px;
}

.userName {
    color: #0d0d0e;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 20px;
}

.userTag {
color:  #4c4d4e;
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 12px;
}

.userLocation {
    color: #4c4d4e;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 12px;
}

.userComm {
    display: flex;
    background-color: #a1a19f;
    width: 100%;
}

.UserCommItem {
    width: 172px;
    border: 2px solid #464644;
    padding: 12px;
    display: flex;
    flex-direction: column;
}
.commItem {
color: #1c1c1d;
text-align: center;
font-size: 32px;
font-weight: 400;
line-height: 1.11;
letter-spacing: 0.02em;
}

.commNumber {
color: #0d0d0e;
text-align: center;
font-size: 36px;
font-weight: 700;
line-height: 1.11;
letter-spacing: 0.02em;
}