.searchBarWrap {
display: flex;
justify-content: center;
}

.input {
    padding: 8px;
    height: 36px;
    width: 360px;
}

.formBtn {
    background-color: rgb(60, 120, 148);
  padding: 8px;
    height: 34px;
    color: white;
}