.table {
    border: 2px solid black;
    border-collapse: collapse;
    margin: 0 auto;
    margin-bottom: 40px;
}

.tableHead {
 /* border: 2px solid rgb(0, 0, 0); */
 background-color: rgb(39, 38, 38);
 color: aliceblue;
}

.tableHeadItem {
    border: 2px solid rgb(0, 0, 0);
    width: 192px;
    height: 40px;
    text-align: center;
}

.tableItem {
    border: 2px solid rgb(0, 0, 0);
    width: 192px;
    height: 40px;
    text-align: center;
}
.tableRow:nth-child(even) {
background-color: #999696;

}
